<div class="animate__animated animate__fadeIn animate__faster">
  <h2>By Region: <small> {{activeRegion | titlecase}} </small></h2>
  <hr>

  <h5>Please select a region</h5>

  <div class="row">
    <div class="col">
      <button *ngFor="let region of regions"
              [class]="getClassCSS(region)"
              (click)="activateRegion(region)">
        {{region | titlecase}}
      </button>
    </div>
  </div>
</div>

<div *ngIf="countries.length > 0" class="row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
